In [2]:
import pandas as pd

In [3]:
catalogue = pd.read_csv('catalogue.csv')

In [4]:
catalogue

                MPNs
0     08G-P5-3667-KL
1     08G-P5-3751-KL
2     08G-P5-3751-KR
3     08G-P5-3755-KL
4     08G-P5-3767-KL
...              ...
1344  ZT-A30900D-10P
1345  ZT-A30900J-10P
1346  ZT-T20610B-10P
1347  ZT-T20610D-10P
1348  ZT-T20610E-10M

[1349 rows x 1 columns]

In [5]:
list = catalogue['MPNs']

In [6]:
list

0       08G-P5-3667-KL
1       08G-P5-3751-KL
2       08G-P5-3751-KR
3       08G-P5-3755-KL
4       08G-P5-3767-KL
             ...
1344    ZT-A30900D-10P
1345    ZT-A30900J-10P
1346    ZT-T20610B-10P
1347    ZT-T20610D-10P
1348    ZT-T20610E-10M
Name: MPNs, Length: 1349, dtype: object

In [9]:
if 'dog' in list: print('yes') else: print('no')